[Unit]
Description=Sample nonsense 
After=network-online.target
Requires=network-online.target
Restart=on-failure 
RestartSec=10s

[Service]
Type=simple 
WorkingDirectory=/home/ubuntu/IT490
ExecStart=php runner.php
User=ubuntu

[Install]
WantedBy=default.target
